<div class="navegadores mt-4 mb-4">
    <div>
        <app-select-category (seleccionEmitida)="getByCategory($event)"></app-select-category>
    </div>
    <div>
        <app-title-search (busquedaEmitida)="searchByTitle($event)"></app-title-search>
    </div>

</div>
<section class="container">
    <h2 class="text-center mb-5 mt-5 fs-1">Lista De Posts</h2>

    <div class="row g-3">
        @for(post of arrPosts; track post.id){
        <article class="col-12 col-md-6 col-xl-4">
            <app-card-post [allPosts]="post"></app-card-post>
        </article>
        }@empty {
        <h3>No se ha encontrado resultado</h3>
        }
    </div>
</section>