<div>
    <app-title-search (busquedaEmitida)="searchByTitle($event)"></app-title-search>
</div>
<div>
    <app-select-category (seleccionEmitida)="getByCategory($event)"></app-select-category>
</div>
<section class="container">
    <h2>Lista De blogs</h2>
    <hr>
    <div class="row g-3">
        @for(post of arrPosts; track post.id){
        <article class="col-12 col-md-6 col-xl-4">
            <app-card-post [allPosts]="post"></app-card-post>
        </article>
        }@empty {
        <h3>No se ha encontrado resultado</h3>
        }
    </div>
</section>